<div th:fragment="form" xmlns:th="http://www.w3.org/1999/xhtml">
  <link as="style" crossorigin="anonymous"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.15/css/bootstrap-select.min.css"
        integrity="sha384-/x1b+qqwEyDuakOh834wkfypntILzu90VoPEoC45hQvN/y/SYwMk3I2zNcZPFQMs"
        onload="this.onload=null;this.rel='stylesheet'" rel="preload">
  <script crossorigin="anonymous" defer
          integrity="sha256-MvL1jf50gmloWCyAbHahSsBOBbeUtcvavfD6eSpGjvA="
          src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.15/js/bootstrap-select.min.js"></script>


  <div class="card">
    <h4 class="card-header-pills mt-3 text-center" th:text="${name}">Title</h4>


    <form class="card-body" action="#" th:action="${formUrl}" th:object="${object}" method="post">
      <div class="form-group" th:each="input : ${inputs}">
        <label class="w-25 text-wrap" th:text="${input.display}">display</label>
        <label th:if="${input.type} == 'text'" class="w-75">
          <input class="h-100 form-control" th:name="${input.name}" th:placeholder="${input.display}"
                 type=text
                 th:field="*{__${input.name}__}">
        </label>
        <label th:if="${input.type} == 'number'" class="w-75">
          <input class="h-100 form-control" th:name="${input.name}" th:placeholder="${input.display}"
                 type=number
                 th:field="*{__${input.name}__}">
        </label>
        <label th:if="${input.type} == 'color'" class="w-75">
          <input class="h-100 form-control" th:field="*{__${input.name}__}" th:name="${input.name}"
                 th:placeholder="${input.display}"
                 type=color>
        </label>
        <label th:if="${input.type} == 'pass'" class="w-75">
          <input class="form-control" th:name="${input.name}" th:placeholder="${input.display}"
                 type=password
                 th:field="*{__${input.name}__}">
        </label>
        <label th:if="${input.type} == 'boolean'" class="w-75">
          <input class="form-control" th:field="*{__${input.name}__}" th:name="${input.name}"
                 th:placeholder="${input.display}"
                 type=checkbox>
        </label>
        <label th:if="${input.type} == 'dateTime'" class="w-75">
          <input class="form-control" th:name="${input.name}" th:placeholder="${input.display}"
                 type=datetime-local
                 th:field="*{__${input.name}__}">
        </label>
        <label th:if="${input.type} == 'valueSelect'" class="w-75">
          <select class="selectpicker" multiple th:name="${input.name}"
                  data-live-search="true" th:field="*{__${input.name}__}">
            <option th:value="${option}" th:each=" option: ${input.options}" th:text="${option}">Option</option>
          </select>
        </label>
        <span class="input-group-append" th:if="${#fields.hasErrors('__${input.name}__')}"
              th:errors="*{__${input.name}__}">error</span>
      </div>
      <div class="text-center">
        <button class="btn btn-primary w-25 " type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>




