<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" style="height: 75px">
    <div class="container">
      <a class="navbar-brand" href="/home">
        Roomie
      </a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="javascript: document.logoutForm.submit()"> Logout</a>
            <form name="logoutForm" th:action="@{/user/logout}" method="post" th:hidden="true">
              <input hidden type="submit" value="Sign Out"/>
            </form>
          </li>
          <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" href="/user/register">Register</a>
          </li>
          <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" href="/user/login">Login</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/shop/view/all">Shop Lists</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/expense/view">Expenses</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/calendar/view">Calendar</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/calendar/event/manage">Events</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/user/profile">Profile</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/user/house">House</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/search">Find roomie</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
