<div th:fragment="list" xmlns:th="http://www.w3.org/1999/xhtml">
  <h3 th:if="${#lists.isEmpty(list)}">Nothing to show here yet</h3>
  <table class="table" th:if="${not #lists.isEmpty(list)}">
    <thead>
    <tr>
      <th scope="col" th:each="ent : ${mappings}" th:text="${ent.value}">Name</th>
      <th scope="col" th:if="${delUrl}">Delete</th>
      <th scope="col" th:if="${editUrl}">Edit</th>
      <th scope="col" th:if="${viewUrl}">View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="listItem : ${list}">
      <td th:each="ent : ${mappings}">
        <ul th:if="${listItem.__${ent.key}__ instanceof T(java.util.List)}">
          <li th:each="listing: ${listItem.__${ent.key}__}">
            <span th:text="${#conversions.convert(listing,'String')}"></span>
          </li>
        </ul>
        <ul th:if="${listItem.__${ent.key}__ instanceof T(java.util.Set)}">
          <li th:each="listing: ${listItem.__${ent.key}__}">
            <span th:text="${#conversions.convert(listing,'String')}"></span>
          </li>
        </ul>
        <span
            th:if="${!(listItem.__${ent.key}__ instanceof T(java.util.List)) && !(listItem.__${ent.key}__ instanceof T(java.util.Set))}"
            th:text="${listItem.__${ent.key}__}">elem</span>
      </td>
      <td><a th:href="${delUrl} + '/' +   ${listItem.getEntityID()}" th:if="${delUrl}">Delete</a></td>
      <td><a th:href="${editUrl} + '/' + ${listItem.getEntityID()}" th:if="${editUrl}">Edit</a></td>
      <td><a th:href="${viewUrl} + '/' + ${listItem.getEntityID()}" th:if="${viewUrl}">View</a></td>
    </tr>
    </tbody>
  </table>
</div>
