<div th:fragment="vForm" xmlns:th="http://www.w3.org/1999/xhtml">
  <link as="style" crossorigin="anonymous"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.15/css/bootstrap-select.min.css"
        integrity="sha384-/x1b+qqwEyDuakOh834wkfypntILzu90VoPEoC45hQvN/y/SYwMk3I2zNcZPFQMs"
        onload="this.onload=null;this.rel='stylesheet'" rel="preload">
  <script crossorigin="anonymous" defer
          integrity="sha256-MvL1jf50gmloWCyAbHahSsBOBbeUtcvavfD6eSpGjvA="
          src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.15/js/bootstrap-select.min.js"></script>

  <div class="card">
    <h4 class="card-header-pills mt-3 text-center" th:text="${name}">Title</h4>
    <form class="card-body" th:action="${formUrl}" th:object="${object}" method="post">
    <span class="form-group" th:each="input : ${inputs}">
    <label th:if="${input.type} == 'text'">
      <input th:name="${input.name}" class="form-control form-control-sm" th:placeholder="${input.display}" type=text
             th:field="*{__${input.name}__}">
    </label>
    <label th:if="${input.type} == 'number'">
      <input th:name="${input.name}" class="form-control-sm" th:placeholder="${input.display}" type=number
             th:field="*{__${input.name}__}">
    </label>
    <label th:if="${input.type} == 'color'">
      <input th:name="${input.name}" class="form-control-sm" th:placeholder="${input.display}" type=color
             th:field="*{__${input.name}__}">
    </label>
      <div th:if="${input.type} == 'boolean'">
          <label>
            <input class="check-box" th:field="*{__${input.name}__}"
                   th:name="${input.name}" type=checkbox>
          </label>
         <span th:text="${input.display}">label</span>
        </div>
    <label th:if="${input.type} == 'pass'">
      <input th:name="${input.name}" class="form-control-sm" th:placeholder="${input.display}" type=password
             th:field="*{__${input.name}__}">
    </label>
    <label th:if="${input.type} == 'dateTime'">
      <input th:name="${input.name}" class="form-control-sm" th:placeholder="${input.display}" type=datetime-local
             th:field="*{__${input.name}__}">
    </label>
    <label th:if="${input.type} == 'valueSelect'">
      <select multiple th:name="${input.name}" class="selectpicker" data-width="auto" th:title="${input.display}"
              data-live-search="true"
              th:field="*{__${input.name}__}">
          <option th:value="${option}" th:each=" option: ${input.options}" th:text="${option}">Volvo</option>
      </select>
    </label>
    <span class="input-group-append" th:if="${#fields.hasErrors('__${input.name}__')}"
          th:errors="*{__${input.name}__}">error</span>
    </span>
      <span>
      <button type="submit" class="btn-sm btn-primary btn-block">Submit</button>
    </span> <!-- form-group// -->
    </form>
  </div>
</div>
