<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
  <!-- Static navbar -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        "FFProject"
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{|~/calendar/${#authentication.name}|}">Calendar</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="javascript: document.logoutForm.submit()" > Logout</a>
            <form name="logoutForm" th:action="@{/user/logout}" method="post" th:hidden="true">
              <input hidden type="submit" value="Sign Out"/>
            </form>
          </li>
          <li class="nav-item" sec:authorize="isAnonymous()">
            <a class="nav-link" href="/user/register">Register</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/user/house">House</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/shop/view/all">Shop Lists</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/expense/view">Expenses</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
