<div th:fragment="list" xmlns:th="http://www.w3.org/1999/xhtml">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" th:each="ent : ${mappings}" th:text="${ent.value}">Name</th>
      <th scope="col" th:if="${delUrl}">Delete</th>
      <th scope="col" th:if="${editUrl}">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="listItem : ${list}">
      <td th:each="ent : ${mappings}">
        <ul th:if="${listItem.__${ent.key}__ instanceof T(java.util.List)}">
          <li th:each="listing: ${listItem.__${ent.key}__}">
            <span th:text="${#conversions.convert(listing,'String')}"></span>
          </li>
        </ul>
        <ul th:if="${listItem.__${ent.key}__ instanceof T(java.util.Set)}">
          <li th:each="listing: ${listItem.__${ent.key}__}">
            <span th:text="${#conversions.convert(listing,'String')}"></span>
          </li>
        </ul>
        <span th:if ="${!(listItem.__${ent.key}__ instanceof T(java.util.List)) && !(listItem.__${ent.key}__ instanceof T(java.util.Set))}" th:text="${listItem.__${ent.key}__}">elem</span>
      </td>
      <td><a th:if="${delUrl}" th:href="${delUrl} + '/' + ${listItemStat.index}">Delete</a></td>
      <td><a th:if="${editUrl}" th:href="${editUrl} + '/' + ${listItemStat.index}">Edit</a></td>
    </tr>
    </tbody>
  </table>
</div>
