<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en-GB">
<head>
  <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <title>Roomie</title>
</head>

<style>
  .sidePanel {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 100px;
  }
</style>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="sidePanel">
  <div layout:fragment="sidePanel"></div>
</div>
<div class="jumbotron min-vh-100">
  <div layout:fragment="content"></div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
