<div th:fragment="vForm" xmlns:th="http://www.w3.org/1999/xhtml">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  <div class="card">
    <h4 class="card-header-pills mt-3 text-center" th:text="${formName}">Title</h4>

    <form class="card-body" th:action="${formUrl}" th:object="${object}" method="post">
    <span class="form-group" th:each="input : ${inputs}">
    <label th:if="${input.type} == 'text'">
      <input th:name="${input.name}" class="form-control form-control-sm" th:placeholder="${input.display}" type=text
             th:field="*{__${input.name}__}">
    </label>
    <label th:if="${input.type} == 'number'">
      <input th:name="${input.name}" class="form-control-sm" th:placeholder="${input.display}" type=number
             th:field="*{__${input.name}__}">
    </label>
    <label th:if="${input.type} == 'color'">
      <input th:name="${input.name}" class="form-control-sm" th:placeholder="${input.display}" type=color
             th:field="*{__${input.name}__}">
    </label>
      <div th:if="${input.type} == 'boolean'">
          <input th:name="${input.name}" class="check-box"
                 type=checkbox  th:field="*{__${input.name}__}">
         <span th:text="${input.display}">label</span>
        </div>
    <label th:if="${input.type} == 'pass'">
      <input th:name="${input.name}" class="form-control-sm" th:placeholder="${input.display}" type=password
             th:field="*{__${input.name}__}">
    </label>
    <label th:if="${input.type} == 'dateTime'">
      <input th:name="${input.name}" class="form-control-sm" th:placeholder="${input.display}" type=datetime-local
             th:field="*{__${input.name}__}">
    </label>
    <label th:if="${input.type} == 'valueSelect'">
      <select multiple th:name="${input.name}" class="selectpicker" data-width="auto" th:title="${input.display}"
              data-live-search="true"
              th:field="*{__${input.name}__}">
          <option th:value="${option}" th:each=" option: ${input.options}" th:text="${option}">Volvo</option>
      </select>
    </label>
    <span class="input-group-append" th:if="${#fields.hasErrors('__${input.name}__')}"
          th:errors="*{__${input.name}__}">error</span>
    </span>
      <span>
      <button type="submit" class="btn-sm btn-primary btn-block">Submit</button>
    </span> <!-- form-group// -->
    </form>
  </div>
</div>
