<html layout:decorate="~{layout/mainLayout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <title>Calendar</title>

  <link as="style" href="https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.css"
        onload="this.onload=null;this.rel='stylesheet'" rel="preload">
  <link href="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.css" onload="this.onload=null;this.rel='stylesheet'"
        rel="preload">
  <link as="style" href="https://unpkg.com/@fullcalendar/core@4.4.0/main.min.css" onload="this.onload=null;this.rel='stylesheet'"
        rel="preload">
  <script defer src="https://unpkg.com/@fullcalendar/core@4.4.0/main.min.js"></script>

  <script defer src="https://unpkg.com/@fullcalendar/daygrid@4.4.0/main.min.js"></script>

  <script defer src="https://unpkg.com/@fullcalendar/timegrid@4.4.0/main.min.js"></script>

  <script defer th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function () {
      let calendarConfig = /*[[${calendarConfig}]]*/ null;

      let calendarEl = document.getElementById('calendar');

      let calendar = new FullCalendar.Calendar(calendarEl, JSON.parse(calendarConfig));

      calendar.render();

      let fullCalendarConfig = /*[[${fullCalendarConfig}]]*/ null;

      let fullCalendarEl = document.getElementById('fullCalendar');

      let fullCalendar = new FullCalendar.Calendar(fullCalendarEl, JSON.parse(fullCalendarConfig));

      fullCalendar.render();
    });
  </script>
</head>

<body>
<div layout:fragment="content" class="container">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs pull-right" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user"
             aria-selected="true">User Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="full-tab" data-toggle="tab" href="#full" role="tab" aria-controls="full"
             aria-selected="false">Full calendar</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane show active" id="user" role="tabpanel" aria-labelledby="user-tab">
          <div id="calendar"></div>
        </div>
        <div class="tab-pane" id="full" role="tabpanel" aria-labelledby="full-tab">
          <div id="fullCalendar"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>


