<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>
<div layout:fragment="content" class="container">

    <div class="jumbotron">
        <table border="1">
            <tr>
                <td>id</td>
                <td>name</td>
            </tr>
            <tr th:each="entry : ${users}">
                <td th:text="${entry.getId()}">id</td>
                <td th:text="${entry.getName()}">name</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
