<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}" lang="en-GB">
<head>
  <title>Register</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body>
<div layout:fragment="content" class="container">
  <table>
    <thead>
    <tr>
      <th> Name</th>
      <th> Calendar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
      <td><span th:text="${member}"> name </span></td>
      <td><a th:href="@{/calendar/{name}(name=${member})}">view</a></td>
    </tr>
    </tbody>
  </table>
  <a href="/calendar/event/add">add event</a>
  <a href="/calendar/full">view global calendar</a>
  <a href="/expense/add">add expense</a>
  <a href="/expense/view">view  expenses</a>
</div>
</body>
</html>
