<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}" lang="en-GB">
<head>
  <title>Shop list</title>
  <script th:src="@{/js/shopList.js}"></script>
</head>

<body>
<div layout:fragment="content" class="container">
  <h1 th:text="${listName}">title</h1>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry: ${list}">
      <td><span th:text="${entry.name}"> name </span></td>
      <td><span th:text="${entry.count}"> name </span></td>
      <td>
        <form th:action="@{'/shop/delete/'+ ${listName} + '/' + ${entryStat.index}}" method="post" >
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
    <tr>
      <form th:action="@{'/shop/addItem/'+ ${listName}}" th:object="${item}" method="post">
        <td><input type="text" th:field="*{name}"/></td>
        <td><input type="number" th:field="*{count}"/></td>
        <td><input type="submit" value="Add"/></td>
      </form>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
