<html lang="en-GB" layout:decorate="~{layout/mainLayout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content" class="container">
  <div class="d-flex justify-content-center" style="margin-bottom: 20px">
    <div class="text-center card w-50">
      <div class="text-center">
        <div th:replace="fragment/avatar :: avatar"></div>
      </div>
      <form action="#" enctype="multipart/form-data" method="post" th:action="@{/user/uploadAvatar}">
        <div class="form-group">
          <label>
            <input accept="image/*" class="form-control" name="image" type="file">
          </label>
        </div>
        <div class="text-center">
          <button class="btn btn-primary w-25 " style="margin-top: 20px; margin-bottom: 20px" type="submit">Submit</button>
        </div>
      </form>

    </div>
  </div>
  <div th:replace="fragment/form :: form"></div>
  <div>
    <a href="/user/leave">
      <button class="btn w-100 btn-danger">Leave house</button>
    </a>
  </div>
</div>
</body>
</html>
