<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" lang="en-GB">
<head>
  <title>Register</title>
</head>

<body>
<div layout:fragment="content" class="container">
  <div class="card w-50">
    <h4 class="card-header-pills mt-3 text-center">Register</h4>

    <p class="text-center">Get started with your free account</p>

    <form class="form-group card-body text-center align-items-center" th:action="@{/user/create}" th:object="${user}"
          method="post">
      <div class="input-group align-content-center justify-content-center"><label> User Name : <input th:field="*{name}"
                                                                                                      class="form-control"
                                                                                                      type="text"
                                                                                                      name="username"/> </label>
      </div>
      <div class="input-group align-content-center justify-content-center"><label> Password: <input th:field="*{password}"
                                                                                                    class="form-control"
                                                                                                    type="password"
                                                                                                    name="password"/> </label>
      </div>
      <input class="btn btn-primary btn-group" type="submit" value="Register"/>
    </form>

    <p class="text-center">Have an account? <a href="/user/login">Log In</a></p>
  </div>
</div>
</body>
</html>
